extends ../layout

block content
  h1= "Welcome Typescript Accounts Boilerplate"
  div(class="buttons")
    p
      a(href='/users/signup' class="button") Sign Up
    p
      a(href='/login' class="button") Login
